.grid{
    display: grid;
    grid-template-columns: repeat(8,12.5%);
    grid-template-rows: repeat(8,12.5%);
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(white, whitesmoke);
    
    .header{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row: 1;
        background-color: red;
    }
    .title{
        display: block;
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row: 3;
        text-align: center;
        font-size: 4em;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
        color: white;
        font-weight: 700;
        -webkit-text-stroke: 2px black; 
        animation: titleAnim .6s infinite;
        animation-direction: alternate;
    }


    .button{
        border: 2px solid green;
        border-radius: 6px;
        font-size: 2em;
        background-color: rgb(245, 149, 149);


        }
    .button:hover{
        transform: scale(1.1);
        
    }
    
    .play{
        grid-column: 3;
        grid-row: 5;
    }
    .info{
        grid-column: 6;
        grid-row: 5;
    }
    @keyframes titleAnim {
        0% {
          font-size: 4.5rem;
        }
        100% {
          font-size: 4rem;

        }
      }
}