.scroll-container{
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;    
    white-space: nowrap;
    padding: 5px 70px 5px 20px;
    background: transparent;
    height: 100%;
    border-radius:15px;
    grid-row-start: 3;
    grid-row-end: 8;
    grid-column-start: 3;
    grid-column-end: 7;
    
  }
  
  .gridscroll{
    display:inline-block;
  }
  
  .gridscroll img {
    margin-right:100px;
    scroll-snap-align: center;

  }