.question{
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
    text-align: center;
}
.a{
    grid-column:3;
    grid-row: 5;
    font-size: 2em;
}

.b{
    grid-column:6;
    grid-row: 5;
    font-size: 2em;

}

.c{
    grid-column:3;
    grid-row: 7;
    font-size: 2em;

}

.d{
    grid-column:6;
    grid-row: 7;
    font-size: 2em;

}
.hidden{
    display: none;
}
.lost{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: red;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .correct{
        color: white;
        font-size: 4em;
        -webkit-text-stroke: 3px black; 
        font-weight: bold;
        margin: auto;
        width: 100vw;
        text-align: center;
        margin-top: 15%;
    }
    .next{
        position: absolute;
        height: 4rem;
        width: 16rem;
        font-size: 2rem;
    }
}
.win{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: green;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .correct{
        color: white;
        font-size: 4em;
        -webkit-text-stroke: 3px black; 
        font-weight: bold;
        margin: auto;
        width: 100vw;
        text-align: center;
        margin-top: 15%;
    }
    .next{
        position: absolute;
        height: 4rem;
        width: 16rem;
        font-size: 2rem;
    }
}